.footer {
    background: #282828;
    margin-top: 55px;
}

.footer__nav {
    display: flex;
    align-items: center;
    padding: 81px 0;
}

.footer__nav-list {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-left: auto;
}

.footer__nav-list-item {
    font-family: "MB";
    font-weight: 700;
    color: #fff;
}

.footer__nav-list-item a {
    color: #fff;
    transition: 0.3s;
}

.footer__nav-list-item a:hover {
    color: #696969;
}

.footer__btn {
    display: flex;
    gap: 25px;
    margin-left: auto;
}